<div class="container home">
  <div class="content">
    <div class="sub-header">
        <i class="fa fa-handshake-o"></i>
    </div>
    <div class="info">
        <h2>Applicant Tracking System for the <strong>21st century</strong></h2>
        <br/>
        <span class="description">If you are looking for jobs, go to the jobs page. If you are a recruiter for ATSCorp, go to the ATS system.</span>
    </div>
    <br/>
    <a class="homebutton" ui-sref="jobs">View Jobs</a>
    <a class="homebutton" ui-sref="ats">Go to ATS</a>
  </div>
</div>